@model User

<p>@Model.Name</p>

@foreach(string interest in @Model.Interests){
    <p>@interest</p>
}

    <h5>Monday</h5>
    <p>@Model.Availability.Monday.AM</p>
    <p>@Model.Availability.Monday.PM</p>
    <h5>Tuesday</h5>
    <p>@Model.Availability.Tuesday.AM</p>
    <p>@Model.Availability.Tuesday.PM</p>
    <h5>Wednesday</h5>
    <p>@Model.Availability.Wednesday.AM</p>
    <p>@Model.Availability.Wednesday.PM</p>
    <h5>Thursday</h5>
    <p>@Model.Availability.Thursday.AM</p>
    <p>@Model.Availability.Thursday.PM</p>
    <h5>Friday</h5>
    <p>@Model.Availability.Friday.AM</p>
    <p>@Model.Availability.Friday.PM</p>
    <h5>Saturday</h5>
    <p>@Model.Availability.Saturday.AM</p>
    <p>@Model.Availability.Saturday.PM</p>
    <h5>Sunday</h5>
    <p>@Model.Availability.Sunday.AM</p>
    <p>@Model.Availability.Sunday.PM</p>
    
